h1,h2,h3,h4,h5,h6,p
{
   font-family: var(--quick);
}

h1{
   color: var(--blanc);
   display: flex;
   justify-content: center;
   
   font-weight: 700;
   font-size: 65px;
   /* position: absolute;
   top: 25%;
   left: 38%; */

 }


 p{
   color: var(--blanc);
   text-align: center;
   font-weight: 200; 
 }

 h3
 {
   color: var(--blanc);
   font-size: 40px;
   position: relative;
   top: 55%;
   text-align: center;
 }


 .form_txt{
   text-align: center;
   border: none;
   background: var(--blanc);
   outline: none;
   float: left;
   padding: 0;
   font-size: 16px;
   transition: 0.4s;
   line-height: 40px;
   width: 0px;
   font-weight: bold;
   animation: .5s search 1s forwards;
   /* border-top-left-radius: 30%; */
   border-bottom-left-radius: 30%;
   /* border-top-right-radius: 30%; */
   border-bottom-right-radius: 30%;
       border: 1rem inset var(--orange);
 }
